@charset "UTF-8";
/*header*/
.header {
  background-color: #7A9165;
  height: 100%;
  background-size: cover; }
  .header .navbar-color {
    background-color: transparent; }
  .header .titulo-menu {
    font-size: 3rem;
    font-family: "Scheherazade New", serif;
    color: white;
    margin: 2px; }

.imagen-navbar {
  width: 4%; }

.lista-menu ul .texto-nav {
  font-size: 2rem;
  font-family: "Scheherazade New", serif;
  font-style: normal;
  color: white; }

.categorias-producto {
  font-size: 2rem;
  color: #7A9165; }

.texto-carousel h3 {
  font-size: 3rem;
  font-family: "Scheherazade New", serif;
  color: white !important; }

.texto-carousel p {
  font-size: 1rem;
  font-family: "Poppins", sans-serif; }

.container-carousel
img {
  width: 100%;
  height: 100%; }

/* productos */
.container-producto a {
  margin-bottom: 10% !important; }

.container-producto h5 {
  color: #7A9165 !important; }

.container-producto img {
  margin: 5% !important;
  border-radius: 10px !important; }

/* tipografias*/
html {
  font-size: 62.5%; }

h1 {
  font-size: 4rem !important;
  color: #7A9165 !important;
  text-align: center !important; }

h2 {
  margin: 3px !important;
  padding: 5px !important;
  font-size: 3rem !important;
  font-family: "Scheherazade New", serif !important;
  color: #608C54 !important;
  text-align: center; }

h3 {
  font-family: "Scheherazade New", serif !important;
  color: #608C54 !important;
  text-align: center;
  font-size: 3rem; }

.parrafos {
  font-size: 1.5rem;
  color: gray !important;
  text-align: center;
  font-family: "Poppins", sans-serif !important; }

/* cards */
.card-title {
  font-size: 2rem !important;
  font-family: "Scheherazade New", serif !important;
  text-align: center; }

.card-text {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif !important;
  text-align: center; }

/* botones */
.btn-info,
.btn-info:hover,
.btn-info:active {
  margin: 3%;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #608C54 !important;
  border-color: #608C54 !important;
  box-shadow: 1px 2px 3px #858585;
  font-size: 1.5rem;
  font-family: "Scheherazade New", serif !important; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #608C54 !important;
  border-color: #608C54 !important;
  box-shadow: 1px 2px 3px #858585;
  font-size: 1.5rem;
  font-family: "Scheherazade New", serif !important; }

/*boton index principal*/
.boton-mas-productos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: center;
  margin: 5%; }

/* footer */
.footer {
  background-color: #7A9165 !important;
  padding: 1%; }
  .footer img {
    max-width: 10%;
    height: inherit;
    border-radius: 10px;
    margin: 4% !important; }
  .footer a {
    margin-left: 50%;
    margin-right: 50%; }
  .footer h5 {
    font-size: 3rem !important;
    color: white !important;
    text-align: center !important; }

/*body*/
.imagenes-explicativas {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .imagenes-explicativas img {
    width: 20% !important; }

.container-info .container-individual {
  margin: 2% !important; }

.container-info p {
  text-align: center !important;
  font-size: 2rem !important;
  color: gray; }

.img-info {
  margin-left: 40%; }

.container1 {
  margin-bottom: 3% !important;
  margin-left: 1% !important;
  margin-right: 1% !important; }

/* Css sub páginas */
.navbar-subpaginas {
  background-color: #608C54 !important; }

.container-categorias {
  margin: 5%; }

.container-categorias img {
  border-radius: 20px;
  width: 100% !important; }

.container-fluid,
.container {
  max-width: 1200px; }

.card-container {
  -webkit-perspective: 1000;
  perspective: 1000; }

.profile-card-2 {
  margin: 10px auto;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
  height: 80%; }

.profile-card-2 img {
  transition: all linear 0.25s; }

.profile-card-2 .profile-name {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 3rem;
  color: white;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  transition: all linear 0.25s;
  font-family: "Scheherazade New", serif !important; }

.profile-card-2:hover img {
  filter: grayscale(100%); }

.profile-card-2:hover .profile-name {
  bottom: 80px; }

.container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  margin-top: 5%; }

.categorias {
  margin-top: 3% !important; }

/* formulario */
.form-group {
  font-family: "Scheherazade New", serif !important;
  font-size: 2rem; }

.form-check {
  margin-left: 20px;
  padding-right: 40%; }

.boton-media {
  color: white !important; }

.formulario {
  margin: 20px;
  display: grid !important;
  align-content: center !important; }

.fondo-pantalla h2 {
  margin-top: 6% !important; }

.fondo-pantalla h3 {
  font-size: 1.5rem;
  color: gray !important;
  text-align: center;
  font-family: "Poppins", sans-serif !important; }

.parrafos {
  font-size: 1.5rem;
  color: gray !important;
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  margin-left: 3% !important;
  margin-right: 3% !important; }

/*Animaciones*/
.card {
  transition: 0.5s;
  cursor: pointer; }

.card-title {
  transition: 1s;
  cursor: pointer;
  text-align: center; }
  .card-title i {
    transition: 1s;
    cursor: pointer; }

.card-title i:hover {
  transform: scale(1.25) rotate(100deg); }

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); }

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none; }

.card::before {
  transform-origin: left top; }

.card::after {
  transform-origin: right bottom; }

.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1); }

/* Operaciones SASS */
.facebook-icon {
  Background-image: url("/images/facebook.png"); }

.instagram-icon {
  Background-image: url("/images/instagram.png"); }

.whatsapp-icon {
  Background-image: url("/images/whatsapp.png"); }

.btn--chico {
  width: 10%;
  height: 10%; }

.btn--mediano {
  width: 30%;
  height: 30%; }

.btn--grande {
  width: 50%;
  height: 50%; }

/* @media */
@media (max-width: 450px) {
  .container-producto {
    display: flex;
    align-items: center; }
    .container-producto img {
      width: 200px !important;
      height: auto !important; }
  .container-fila-categorias .container-categorias {
    width: 200px !important;
    height: auto !important; } }
