$color-principal: #7A9165;
$color-secundario: white;
$color-terciario: #ECE0D6;
$tamaño-titulos: 3rem;
$tamaño-texto: 2rem;
$tipografia-serif: 'Scheherazade New', serif;
$tipografia-sans-serif: 'Poppins', sans-serif;